<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Стройматериалы</title>


    <link rel="stylesheet" href="/css-lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css-lib/owl.carousel.min.css">
    <link rel="stylesheet" href="/css-lib/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css-lib/owl.theme.default.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <div class="container pt-1 pt-md-3 pb-3">
            <div class="row">
                <div class="col-6 col-md-2 d-none d-lg-block">
                    <a class="header__logo" href="/"><img class="img-fluid" src="/img/logo.svg" alt=""></a>
                </div>
                <div class="col-lg-3 col-7 text-lg-right text-left d-flex">
                    <div class="header__contacts">
                        <a class="header__contacts_phone" href="tel:88652992040">+7 (8652) 99-20-40</a>
                        <a class="header__contacts_mail" href="mailto:zakaz@rmbrick.ru">zakaz@rmbrick.ru</a>
                    </div>
                </div>
                <div class="col-lg-2 col-5 d-flex">
                    <button class="button button_header">Заказать звонок</button>
                </div>
                <div class="col-lg-4 col-9 d-flex">
                    <label class="header__search_label" for="search"></label>
                    <input class="header__search" type="search" id="search" placeholder="поиск товара на сайте">

                </div>
                <div class="col-lg-1 col-3 pt-4 pt-lg-0 d-flex">
                    <a class="header__cart" href=""><img class="img-fluid" src="/img/cart.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 px-0 px-md-3">
                    <nav class="navbar navbar-expand-lg navbar-light"><img style="max-width:68px;" class="img-fluid d-block d-lg-none" src="/img/logo_w.svg" alt="">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Каталог</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Доставка</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Блог</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Акции</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Галерея</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Партнерам</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">О компании</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container slider">
            <div class="row">
                <div class="col-12 px-0 px-md-3">
                    <div class="owl-carousel owl-slider owl-theme">
                        <a href="#" class="item">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-9 offset-md-1 slider__info">
                                    <h1 class="h1 h1_slider">Большой выбор строительных материалов</h1>
                                </div>
                                <div class="button button_slider" href="#">Подробнее</div>
                            </div>
                            <img class="d-none d-md-block" src="/img/slide1.jpg" alt="">
                            <img class="d-block d-md-none" src="/img/s_m.jpg" alt="">
                        </a>
                        <div class="item">
                            <img class="d-none d-md-block" src="/img/slide1.jpg" alt="">
                            <img class="d-block d-md-none" src="/img/s_m.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="d-none d-md-block" src="/img/slide1.jpg" alt="">
                            <img class="d-block d-md-none" src="/img/s_m.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
  <div class="container">
    <div class="row">
      
          
          <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 mb-md-4 mb-lg-0">
            <a href="/catalog/trotuarnaya-plitka-i-bruschatka/" class="menu-cart menu-cart_big">
              <div class="row">
                <div class="col-8 col-md-12 order-2 order-md-1">


                  <div class="menu-cart__title">Тротуарная плитка и брусчатка</div>
                </div>
                <div class="col-4 col-md-12 order-1 order-md-2">
                  <div class="menu-cart__img">
                    <img class="img-fluid" src="/upload/iblock/8b6/8b676119b77b5ff1474c9be8b9997577.jpg" alt="">
                  </div>
                  <div class="button button_menu-cart">Подробнее</div>
                </div>
              </div>
            </a>
          </div>
                    <div class="col-lg-8 col-md-12">
            <div class="row">
              
          <div class="col-md-6 ">
            <a href="/catalog/beton/" class="menu-cart menu-cart_small">
              <div class="row">
                <div class="col-8 col-md-6 order-2 order-md-1">
                  <div class="menu-cart__title">Бетон</div>
                  <div class="button button_menu-cart">Подробнее</div>
                </div>
                <div class="col-4 col-md-6 order-1 order-md-2">
                  <div class="menu-cart__img">
                    <img class="img-fluid" src="/upload/iblock/569/56981b7aadbc81d1c7c1989b53ad71df.jpg" alt="Бетон">
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-md-6 ">
            <a href="/catalog/bordyury/" class="menu-cart menu-cart_small">
              <div class="row">
                <div class="col-8 col-md-6 order-2 order-md-1">
                  <div class="menu-cart__title">Бордюры</div>
                  <div class="button button_menu-cart">Подробнее</div>
                </div>
                <div class="col-4 col-md-6 order-1 order-md-2">
                  <div class="menu-cart__img">
                    <img class="img-fluid" src="/upload/iblock/caa/caa225c358b04ca7d468830dd25e8126.jpg" alt="Бордюры">
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-md-6 ">
            <a href="/catalog/kirpich-oblitsovochnyy/" class="menu-cart menu-cart_small">
              <div class="row">
                <div class="col-8 col-md-6 order-2 order-md-1">
                  <div class="menu-cart__title">Кирпич облицовочный</div>
                  <div class="button button_menu-cart">Подробнее</div>
                </div>
                <div class="col-4 col-md-6 order-1 order-md-2">
                  <div class="menu-cart__img">
                    <img class="img-fluid" src="/upload/iblock/106/1061ca75e06628a441418f73ced1791f.jpg" alt="Кирпич облицовочный">
                  </div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col-md-6 ">
            <a href="/catalog/bloki-stenovye/" class="menu-cart menu-cart_small">
              <div class="row">
                <div class="col-8 col-md-6 order-2 order-md-1">
                  <div class="menu-cart__title">Стеновые блоки</div>
                  <div class="button button_menu-cart">Подробнее</div>
                </div>
                <div class="col-4 col-md-6 order-1 order-md-2">
                  <div class="menu-cart__img">
                    <img class="img-fluid" src="/upload/iblock/c3b/c3bd9eeaeae02cffd5a5579dc43c0010.jpg" alt="Стеновые блоки">
                  </div>
                </div>
              </div>
            </a>
          </div>
                      </div>
          </div>


          </div>
  </div>
  </div>
   
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 mb-md-4 mb-lg-0">
                    <a href="/" class="menu-cart menu-cart_big">
                        <div class="row">
                            <div class="col-8 col-md-12 order-2 order-md-1">


                                <div class="menu-cart__title">ТРОТУАРНАЯ ПЛИТКА
                                    И БРУСЧАТКА</div>
                            </div>
                            <div class="col-4 col-md-12 order-1 order-md-2">
                                <div class="menu-cart__img">
                                    <img class="img-fluid" src="/img/trotuar.png" alt="">
                                </div>
                                <div class="button button_menu-cart">Подробнее</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row menu-cart__first-row">
                        <div class="col-md-6">
                            <a href="/" class="menu-cart menu-cart_small">
                                <div class="row">

                                    <div class="col-8 col-md-6 order-2 order-md-1">
                                        <div class="menu-cart__title">КИРПИЧ ОБЛИЦОВОЧНЫЙ</div>
                                        <div class="button button_menu-cart">Подробнее</div>
                                    </div>
                                    <div class="col-4 col-md-6 order-1 order-md-2">
                                        <div class="menu-cart__img">
                                            <img class="img-fluid" src="/img/brick.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/" class="menu-cart menu-cart_small">
                                <div class="row">

                                    <div class="col-8 col-md-6 order-2 order-md-1">
                                        <div class="menu-cart__title">Стеновые блоки</div>
                                        <div class="button button_menu-cart">Подробнее</div>
                                    </div>
                                    <div class="col-4 col-md-6 order-1 order-md-2">
                                        <div class="menu-cart__img">
                                            <img class="img-fluid" src="/img/block.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/" class="menu-cart menu-cart_small">
                                <div class="row">

                                    <div class="col-8 col-md-6 order-2 order-md-1">
                                        <div class="menu-cart__title">Бордюры</div>
                                        <div class="button button_menu-cart">Подробнее</div>
                                    </div>
                                    <div class="col-4 col-md-6 order-1 order-md-2">
                                        <div class="menu-cart__img">
                                            <img class="img-fluid" src="/img/bordur.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/" class="menu-cart menu-cart_small">
                                <div class="row">
                                    <div class="col-8 col-md-6 order-2 order-md-1">
                                        <div class="menu-cart__title">Бетон</div>
                                        <div class="button button_menu-cart">Подробнее</div>
                                    </div>
                                    <div class="col-4 col-md-6 order-1 order-md-2">
                                        <div class="menu-cart__img">
                                            <img class="img-fluid" src="/img/bt.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container product product_top">
        <div class="row">
            <div class="col-12">
                <div class="col-12">
                    <h2 class="title">Лидеры продаж</h2>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-sm-8 offset-sm-2 offset-lg-0">
                <a href="#" class="product-cart">
                    <div class="product-cart__title">Тротуарная плитка Квадро 200х200х60 (фактурная)</div>
                    <div class="product-cart__img">
                        <img class="img-fluid" src="/img/kvadro.png" alt="">
                    </div>
                    <div class="product-cart__price">Цена от 540 руб.</div>
                    <div class="text-center">
                        <div class="button button_product-cart">Купить</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-8 offset-sm-2 offset-lg-0">
                <a href="#" class="product-cart">
                    <div class="product-cart__title">Кирпич облицовочный 250х120х65 (угловой)</div>
                    <div class="product-cart__img">
                        <img class="img-fluid" src="/img/obl.png" alt="">
                    </div>
                    <div class="product-cart__price">Цена от 54 руб.</div>
                    <div class="text-center">
                        <div class="button button_product-cart">Купить</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-8 offset-sm-2 offset-lg-0">
                <a href="#" class="product-cart">
                    <div class="product-cart__title">Кирпич забутовочный 250х120х88 (М 125)</div>
                    <div class="product-cart__img">
                        <img class="img-fluid" src="/img/zabut.png" alt="">
                    </div>
                    <div class="product-cart__price">Цена от 5400 руб.</div>
                    <div class="text-center">
                        <div class="button button_product-cart">Купить</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-4 offset-4 offset-lg-5 mb-md-5 mb-4">
                    <img class="img-fluid" src="/img/logo.svg" alt="">
                </div>
                <div class="col-12">
                    <div class="about__text text-md-center text-left">
                        Купить строительные материалы в Ставрополе и Михайловске можно в <br class="d-none d-md-block"> торгово-выставочном комплексе «Римский мастер» или в нашем онлайн-магазине стройматериалов. Мы предлагаем большой ассортимент высококачественных материалов, изготовленных на европейском оборудовании из первоклассного сырья. При этом кирпич, шлакоблок, бетон, тротуарная плитка и брусчатка не уступают в качестве зарубежным аналогам, а стоят дешевле, так как реализуются без посредников.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Наши преимущества</h2>
                </div>
                <div class="col-12 col-md-6 advantages__item">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid advantages__img" src="/img/vibor.svg" alt="">
                        </div>
                        <div class="col-8 pt-4 pt-md-0">
                            <div class="advantages__text">Большой выбор</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 advantages__item">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid advantages__img" src="/img/rupor.svg" alt="">
                        </div>
                        <div class="col-8">
                            <div class="advantages__text">Акции и выгодные скидки</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 advantages__item">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid advantages__img" src="/img/razn.svg" alt="">
                        </div>
                        <div class="col-8">
                            <div class="advantages__text">Разнообразие форм
                                и оттенков</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 advantages__item">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid advantages__img" src="/img/guarant.svg" alt="">
                        </div>
                        <div class="col-8 pt-4 pt-md-0">
                            <div class="advantages__text">Гарантия качества</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 advantages__item advantages__item_last">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid advantages__img" src="/img/price.svg" alt="">
                        </div>
                        <div class="col-8 pt-2 pt-md-0">
                            <div class="advantages__text">Цены производителя</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 advantages__item advantages__item_last">
                    <div class="row">
                        <div class="col-4 pt-4">
                            <img class="img-fluid advantages__img" src="/img/dostavka.svg" alt="">
                        </div>
                        <div class="col-8 pt-4 pt-md-0">
                            <div class="advantages__text">Доставка по СК</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        Оставьте заявку
                    </div>
                </div>
                <div class="col-12">
                    <form action="">
                        <div class="row">
                            <div class="col-12 col-md-3 mb-3 mb-md-0">
                                <label class="form__label" for="email">Ваш E-mail</label>
                                <input class="form__input" id="email" type="email" placeholder="E-mail">

                            </div>
                            <div class="col-12 col-md-3 mb-3 mb-md-0">
                                <label class="form__label" for="email">Ваше имя</label>
                                <input class="form__input" id="name" type="text" placeholder="Имя">
                            </div>
                            <div class="col-12 col-md-3 mb-3 mb-md-0">
                                <label class="form__label" for="email">Ваш телефон</label>
                                <input class="phone_mask form__input" id="tel" type="tel" placeholder="+7 (000) 000-00-00">
                            </div>
                            <div class="col-12 col-md-3 d-flex">
                                <button class="button_form button">Отправить</button>
                            </div>
                            <div class="col-12 pt-4 pb-5">
                                <input type="checkbox" class="form__checkbox" id="check">
                                <label class="form__checkbox_label" for="check">Я согласен(а) с условиями пользовательского соглашения и политики обработки персональных данных</label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer__contacts">
                    <img class="footer__logo" src="/img/logo_w.svg" alt="">
                    <div class="footer__address">г.Михайловск, ул.Яблоневая, 41</div>
                    <div class="footer__time">Режим работы: <br>
                        <div class="footer__contacts_bold">с 9.00 до 18.00 </div>
                        без перерывов и выходных.
                    </div>
                    <div class="footer__tel">Тел: <span class="footer__contacts_bold"><a class="footer__link" href="tel:88652992040">8 (8652) 99-20-40</a></span></div>
                </div>
                <div class="col-md-3 col-lg-2 col-6 offset-md-1 offset-lg-2 d-flex">
                    <nav class="footer__menu">
                        <menu>
                            <li><a href="/catalog/" class="footer__link">КАТАЛОГ</a></li>
                            <li><a href="/dostavka/" class="footer__link">ДОСТАВКА</a></li>
                            <li><a href="/blog/" class="footer__link">БЛОГ</a></li>
                            <li><a href="" class="footer__link">АКЦИИ</a></li>
                            <li><a href="" class="footer__link">ГАЛЕРЕЯ</a></li>
                            <li><a href="/contacts/" class="footer__link">КОНТАКТЫ</a></li>
                        </menu>
                    </nav>
                </div>
                <div class="col-md-3 col-lg-2 col-6 offset-md-1 offset-lg-2 d-flex">
                    <div class="footer__soc">
                        <a href="#" class="footer__price">Прайс</a>
                        <a href="#"><img class="footer__ic footer__ic_inst" src="/img/inst.svg" alt="Instagram"></a>
                        <a href="#"><img class="footer__ic footer__ic_vk" src="/img/vk.svg" alt="ВКонтакте"></a>
                        <a href="#"><img class="footer__ic footer__ic_ok" src="/img/ok.svg" alt="Одноклассники"></a>
                        <a href="#"><img class="footer__ic footer__ic_fb" src="/img/fb.svg" alt="Facebook"></a>
                    </div>
                </div>
                <div class="col-12 footer__offical">
                    <div class="footer__info">Информация на сайте не является публичной офертой</div>
                    <div class="footer__info"><a href="#" class="footer__link">Положение о конфиденциальности</a></div>
                    <div class="footer__info">&copy; Римский Мастер, 2020</div>
                    <a href="#"><img class="footer__map" src="/img/map_site.svg" alt=""></a>
                </div>
            </div>

        </div>
    </div>




    <script src="/js-lib/jquery-3.5.1.min.js"></script>
    <script src="/js-lib/bootstrap.min.js"></script>
    <script src="/js-lib/jquery.fancybox.min.js"></script>
    <script src="/js-lib/owl.carousel.min.js"></script>
    <script src="/js-lib/jquery.maskedinput.min.js"></script>
    <script>
        $(".phone_mask").mask("+7 (999) 999-99-99");
    </script>
</body>

</html>