.menu-cart {
    background: #e6e6e6;
    display: block;
    transition: 0.2s ease;


    @media (max-width: 767px) {
        margin-bottom: 1em;
    }


    &:hover {
        -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
        text-decoration: none;
    }

    &__title {
        font-size: 1.45em;
        color: #000;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;

        @media (max-width: 568px) {
            font-size: 0.8em;
            margin-top: 1.5em;
        }

        @media (max-width: 767px) {
            margin-top: 2.5em;
        }
        @media (min-width: 992px) and (max-width: 1200px) {
            font-size: 1.1em;
        }
    }

    &_big {
        padding: 1em 2em 1em 2em;
        height: 100%;

        .menu-cart__title {
            margin-bottom: 2.5em;

            @media (max-width: 568px) {
                margin-bottom: 0;
                margin-top: 1em;
            }

            @media (max-width: 767px) {
                margin-bottom: 1em;
                margin-top: 1em;
            }

        }

        .button_menu-cart {
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media (max-width: 767px) {
            padding: 2em 0 2em 1em;
            height: auto;
        }
    }

    &_small {
        padding: 1em 0 1em 1em;

        .menu-cart__img {
            margin-top: 2em;
            text-align: right;

            @media (max-width: 767px) {
                margin-top: 0;
                text-align: center;
            }

            img {
                height: 160px;

                @media (max-width: 568px) {
                    height: 88px
                }
            }
        }
    }

    &__first-row {
        margin-bottom: 2em;

        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }
}