.section {

    &__select {
        border: 1px solid #ccc;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        option {

            &:focus {
                background: red;
            }
        }
    }

    &__price {
        font-size: 1em;
        color: #fff;
        background: #999;
        padding: 0.085em 0.8em;
        margin-left: 1em;
        border: 2px solid #999;
        transition: 0.3s ease;
        
        &:hover{
            background: #fff;
            color: #4e4e4e;
        }
        
        @media(max-width: 767px){
            margin: 0.7em 0 0 0;
            display: inline-block;
        }
    }
}