.slider {
    
    &__info{
        position: absolute;
        color: #000;
    }
    
    .owl-theme .owl-dots .owl-dot span{
            width: 30px;
    height: 7px;
    border-radius: 0;
    }
    .owl-theme .owl-dots .owl-dot span{
        background: #333;
    }
    .owl-theme .owl-nav{
        display: none;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background: #ff9900;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:focus{
       
        outline: none;
    }
    .owl-theme .owl-dots{
        position: relative;
        bottom: 25px;
    }
}